:root {
  // This defines what 1 rem is...
  font-size: 62.5%; // 10px is 62.5% for 16px (10 / 16 = 0.625)

  @include respond(tab-land) {
    font-size: 56.25%; // 9px is 56.25% for 16px (9 / 16 = 0.5625)
  }

  @include respond(tab-port) {
    font-size: 50%; // 8px is 50% for 16px (8 / 16 = 0.5)
  }

  @include respond(phone) {
    font-size: 30%;
  }

  @include respond(big-desktop) {
    font-size: 75%; // 12px is 75% for 16px (12 / 16 = 0.75)
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: Lato, sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-grey-dark-1;
  box-sizing: border-box;
  padding: 3rem;

  @include respond(tab-port) {
    padding: 0;

  }
}
