.navigation {
	&__checkbox {
		display: none;
	}

	&__button {
		display: flex;
		background-color: $color-white;
		height: 7rem;
		width: 7rem;
		position: fixed;
		top: 6rem;
		right: 6rem;
		z-index: 2000;
		border-radius: 50%;
		box-shadow: 0 1rem 3rem rgba($color-black, .1);
		cursor: pointer;
		user-select: none;

		@include respond(tab-port) {
			top: 4rem;
			right: 4rem;
		}

		@include respond(phone) {
			top: 3rem;
			right: 3rem;
		}
	}

	&__background {
		height: 6rem;
		width: 6rem;
		border-radius: 50%;
		position: fixed;
		top: 6.5rem;
		right: 6.5rem;
		background-image: radial-gradient($color-primary-light, $color-primary-dark);
		z-index: 1000;
		transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);

		@include respond(tab-port) {
			top: 4.5rem;
			right: 4.5rem;
		}

		@include respond(phone) {
			top: 3.5rem;
			right: 3.5rem;
		}
	}

	&__nav {
		height: 100vh;
		position: fixed;
		top: 0;
		right: 0;
		//left: 0;
		z-index: 1500;

		opacity: 0;
		width: 0;
		transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	}

	&__list {
		@include absoluteCenter();
		list-style: none;
		text-align: center;
		width: 100%;
	}

	&__item {
		margin: 1rem;
	}

	&__link {
		&:link,
		&:visited {
			display: inline-block;
			font-size: 3rem;
			font-weight: 300;
			padding: 1rem 2rem;
			color: $color-white;
			text-transform: uppercase;
			text-decoration: none;
			background-image: linear-gradient(
							120deg,
							transparent 0%,
							transparent 50%,
							$color-white 50%
			);
			background-size: 220%;
			transition: all .4s;

			span {
				margin-right: 1rem;
				display: inline-block;
			}
		}

		&:hover,
		&:active {
			color: $color-primary;
			background-position: 100%;
			transform: translate(1rem);
		}
	}

	// FUNCTIONALITY
	&__checkbox:checked ~ &__background {
		transform: scale(80);
	}

	&__checkbox:checked ~ &__nav {
		width: 100%;
		opacity: 1;
	}

	// ICON
	&__icon {
		margin: auto;
		position: relative;

		&,
		&::before,
		&::after {
			width: 3rem;
			height: 2px;
			background-color: $color-grey-dark-3;
			display: inline-block;
		}

		&::before,
		&::after {
			content: "";
			position: absolute;
			left: 0;
			transition: all .2s;
		}

		&::before {
			top: -.8rem;
		}

		&::after {
			top: .8rem;
		}
	}

	&__button:hover > &__icon::before {
		top: -1rem;
	}

	&__button:hover > &__icon::after {
		top: 1rem;
	}

	&__checkbox:checked + &__button > &__icon {
		background-color: transparent;

		&::before {
			top: 0;
			transform: rotate(-135deg);
		}

		&::after {
			top: 0;
			transform: rotate(135deg);
		}
	}
}
