.popup {
  background-color: rgba($color-black, 0.8);
  position: fixed;
  z-index: 10000;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &__content {
    @include absoluteCenter();
    width: 75%;
    background-color: $color-white;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.95);
    border-radius: 3px;
    display: table;
    overflow: hidden;
    transform: translate(-50%, -50%) scale(0);
    transition: all 0.5s 0.2s;
  }

  &__left {
    width: 33.333333%;
    display: table-cell;
  }

  &__right {
    width: 66.666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;
  }

  &__img {
    display: block;
    width: 100%;
    object-fit: contain;
  }

  &__text {
    font-size: 1.4rem;
    column-count: 2;
    gap: 4rem;
    column-rule: 1px solid $color-grey-light-2;

    hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
  }

  &:target > &__content {
    @include absoluteCenter();
  }

  &__close {
    &:link,
    &:visited {
      color: $color-grey-dark-1;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      font-size: 3rem;
      line-height: 1;
      text-decoration: none;
      display: inline-block;
    }

    &:hover {
      color: $color-primary;
    }
  }
}
