.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, 0.8);
  background-color: rgba($color-white, 0.6);
  border-radius: $default-border-radius;
  padding: 6rem;
  padding-left: 9rem;
  transform: skewX(-10deg);
  font-size: $default-font-size;

  &__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: skewX(12deg) translateX(-3rem);
    position: relative;
  }

  &__img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    transform: scale(1.4);
    backface-visibility: hidden;
    transition: ease-in-out 0.5s;
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: $color-white;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    transition: 0.5s all;
    opacity: 0;
  }

  &:hover &__caption {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  &:hover &__img {
    filter: blur(2px) brightness(0.8);
    transform: scale(1);
  }

  &__text {
    min-height: 15rem;
    transform: skewX(12deg);
  }
}
